* {
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}

h1 {
  color: rgba(72, 133, 237, 1);
  text-align: center;
}

.WRAPPER {
  text-align: center
}

.navigation {
  white-space: nowrap;
  display: inline-flex;
}

.back-docportal {
  justify-content: flex-start;
}

.save {
  justify-content: flex-end;
}

.toolbar {
  clear: both;
  padding: 10px;
  white-space: nowrap;
}

.toolbar > * {
  margin-bottom: 5px;
}

.toolbar-item {
  display: inline-block;
  margin: 3px;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.editor {
  padding: 10px;
}

.button {
  float: right;
  background-color: rgba(72, 133, 237, 0.8);
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.registration{
  padding: 10px;
  margin: 10px;
}

.docID {
  margin-right: 10px;
}

.container {
  border: 2px solid rgba(72, 133, 237, 0.8);
  padding: 10px;
  border-radius: 5px;
  height: 500px;
  margin-top: 15px;
}

.login-box {
  margin-top: 50px;
  height: 100%;
}
