* {
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}

h1 {
  color: rgba(72, 133, 237, 1);
  text-align: center;
}

.toolbar {
  clear: both;
  /*border-bottom: 2px solid rgba(72, 133, 237, 1);*/
  padding: 10px;
}

.toolbar > * {
  margin-bottom: 5px;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.editor {
  padding: 10px;
}

.button {
  float: right;
  background-color: rgba(72, 133, 237, 0.8);
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.navigation {
  padding: 10px;
  margin: 10px;
}

.docID {
  margin-right: 10px;
}

.container {
  border: 1px solid rgba(72, 133, 237, 0.8);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.login-box {
  margin-top: 50px;
  height: 100%;
}
